.userDetails{
    display: flex ;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    /* position:relative;
    left: 50px; */

}
.user-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------ */
.profilePic-area{

    display: flex;
    flex-direction: column;
    justify-content: center;

}
#profilePic{

    width: 300px;
    height: 300px;
    border: 30px solid rgb(0, 0, 0);
    border-radius: 30px;
}
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
.skill-Area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;

    margin-top: 40px;
}

.skill-head{
    text-align: center;
}
#skill-head-underline{
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------ */

.skill-tables{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 40px;
}

.skill-table{
    border: 5px solid white;
    padding: 10px;
    border-radius: 10px;
}


#skill-table-heading{
    text-decoration: underline;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------ */
.skills-icon-Area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.skills-icon-sub-Area{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-icon{
    width: 50px;
    height: 50px;
}

/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */

.projects-Area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    margin-bottom: 200px;
}

#project-head-underline{
    text-decoration: underline;
    text-align: center;
}

.project-tables{
    display: grid;
    grid-template-columns: repeat( 3,1fr);
    gap: 10px;
    
}

.project-table{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;


}


/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
.education-credentials{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    
}

.education-decription{
    text-align: center;
}

.grid-for-line{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.school-credentials-1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 2px solid white;
    border-radius: 30px;
    
}


.v-line-l{
    /* position: relative;
    left: 2px;  */
    border-left: 2px solid white;
}
.v-line-r{
    position:sticky;
    left: 2px;
    border-right: 2px solid white;
    z-index: 0; 
}

.gap{
    height: 200px;
}

/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */

.contact-Area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-decription{
    text-align: center;
}